<template>
  <div>
    <ul>
      <li v-for="item in items" :key="item.index">
         {{ item.text }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Todos",
  props: {
    items: Array,
  },
};
</script>

<style>
</style>
