<template>
  <div id="app">
    <h1 class="title">My Todos App</h1>
    <div class="inputs">
      <input
        v-model="text"
        class="input"
        type="text"
        placeholder="give me something"
      />
      <button @click="addTodo" class="button">Add Task</button>
    </div>
    <Todos :items="todos"></Todos>
  </div>
</template>

<script>
import Todos from "./components/Todos.vue";
import axios from "axios";

export default {
  name: "App",
  components: {
    Todos,
  },
  data() {
    return {
      text: "",
      todos: [],
    };
  },
  methods: {
    async addTodo() {
      if (!this.text) {
        return;
      }
      const response = await axios.post("http://localhost:3000/todo", {
        text: this.text,
      });
      if (response.status === 201) {
        this.getTodos();
        this.text = "";
      }
    },
    async getTodos() {
      const res = await axios.get("http://localhost:3000/todo");
      this.todos = res.data;
      console.log(this.todos);
      return this.todos;
    },
  },
  mounted() {
    this.getTodos();
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
